
                <%= form_for @contact,:url => submit_contact_home_index_path,:method => :post do |f| %>  
                    <div>
                      <ul>
                      <% @contact.errors.each do |attr,msg| %>
                        <li><%= attr %>&nbsp;<%= msg %></li>
                      <% end %>
                      </ul>
                    </div>
                    
                                <%= f.text_field :name , :class => "form-control", :placeholder => "Name" %>
                            
                                
                                <%= f.email_field :email , :class => "form-control", :placeholder => "Email address" %>
                                
                                <%= f.text_area :description,:rows => "7" , :class => "form-control",:id => "Textarea1", :placeholder => "Message" %>
                           
                            <%= f.submit %>   
                <% end %>
            